<!DOCTYPE html>
<html>
<head>
  <title>Yoblogging</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "style" %>
  <%= csrf_meta_tags %>

<div class="headpart">
	
<div class="headerline">
</div>

  <div class="sitename">
    KDSAJ<br>
    <div class="tagline">
Sharing knowledge for the internet.
</div>
  </div>
<hr>

  <div class="tabs">
  	<ul>
  		<li><a href="#">QTP</a></li>
  		<li><a href="#">Ruby Gems</a></li>
  	</ul>
  </div>
</div>
</head>
<body>

<%= yield %>

</body>
</html>
